/* Dark Theme by shini */

body{
    color: #ccc;
}

.welcome-right{
    background: #000;
    border-left: 3px solid #111;
    box-sizing: content-box;
    color:white;
}

.input, .button{
    color: rgb(218, 218, 218);
    background: black;
}
.button:hover{
    cursor: pointer; 
    box-shadow: none;
    background: #111;
}

.chat-messages {
    background: black;
}

.input.h:hover{
    cursor: pointer; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.342);
}
.input.h:focus{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
}

.header{
    background: black;
    color: rgb(218, 218, 218);
}
.settings-icon{
    color: rgb(218, 218, 218);
}
.settings-icon:hover{
    background: rgb(131, 131, 131);
}

html, body, head {
    background: black;
}
.channellist{
    background: black;
}
.channel{
    background: black;
    color:rgb(218, 218, 218);
}
.channel.active{
    background: linear-gradient(to right, #333, transparent) !important;
    box-shadow:none !important;
    width:100%;
}
.channel:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);
}
.settings-category{
    color: rgb(218, 218, 218);
}
.settings-category:hover{
    background: rgba(0, 0, 0, 0.342);
}
.settings-chevron{
    color: rgb(218, 218, 218);
}

.chat-messages{
    border-right: none;
}

.message{
    background: black;
    border: 1px solid #010101;
    color: rgb(218, 218, 218);
}
.message:hover{
    box-shadow: none;
}

.message-time{
    color:#ddd;
}
.message-content{
    color:rgb(218, 218, 218);
}

.settings-popout{
    background: black;
    border: 1px solid #111;
    color: rgb(218, 218, 218);
}


.context-menu{
    background: black;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,.1);
}

.context-option{
    color: white;
}
.context-option:hover{
    background: rgba(255,255,255,.05);
}

.context-option.separator{
    border-bottom: 1px solid rgba(255,255,255,.05);
}