<link href="/css/main.css" rel="stylesheet" />
<link href="/css/branding.css" rel="stylesheet" />

<div class="main-body">
    <span class="main-headline">Branding</span><br><br>
    
    <span class="main-headline s">Colors</span><br>
    <div class="branding-color color-title">
        Main<br>
        <span class="branding-color-line">linear-gradient(to right, #3494e6, #ec6ead)</span>
    </div>
    <div class="branding-color color-blue">
        Blue<br>
        <span class="branding-color-line">linear-gradient(to right, #1FA2FF, #12D8FA)</span>
    </div>
    <div class="branding-color color-green">
        Green<br>
        <span class="branding-color-line">linear-gradient(to right, #11998e, #38ef7d)</span>
    </div>
    <div class="branding-color color-red">
        Red<br>
        <span class="branding-color-line">linear-gradient(to right, #ff2600, #db0054)</span>
    </div><br><br>

    
    <span class="main-headline s">Logos</span><br>
    <img class="branding-logo" src="/resources/graphics/Azuma-Logo.svg">
    <img class="branding-logo" src="/resources/graphics/Azuma-Logo-White.svg">
    <img class="branding-logo" src="/resources/graphics/Azuma-Logo-gradient.svg">
    <br><br>

    
    <span class="main-headline s">Fonts</span><br>
    <a href="https://fonts.google.com/specimen/Titillium+Web" target="_blank">Default Font</a>
    <div class="branding-font" style="font-family: 'Titillium Web'">
        Titillium Web<br><br>
        The quick Fox jumps over the lazy dog.<br>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz<br>
        1234567890 !"§$%&/()=?#' äöüÄÖÜ
    </div>
</div>