<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/chat.css" />
<link rel="stylesheet" id="css-theme" href="css/themes/default.css" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/REST.js"></script>
<script src="js/UIActions.js"></script>
<script src="js/SockEvents.js"></script>
<title>Azuma</title>


<div class="header">
    
    <div class="header-information">
        Logged in as<br>
    </div>
    <div class="settings-icon">
        <span class="mdi mdi-settings"></span>
    </div> 
    <div class="online-icon">
        <span class="mdi mdi-account"></span>
    </div> 
</div>

<div class="channellist" id="channels">
    <div class="channel" id="channel-announcements" onclick="channel('announcements')"><span class="mdi mdi-bullhorn-outline"></span> announcements</div><br>
    <div class="channel active" id="channel-general" onclick="channel('general')"><span class="mdi mdi-pound"></span> general</div>
    <div class="channel" id="channel-memes" onclick="channel('memes')"><span class="mdi mdi-pound"></span> memes</div>
    <div class="channel" id="channel-test" onclick="channel('test')"><span class="mdi mdi-lock-outline"></span> test</div>
</div>

<div class="channellist hidden" id="online">
    <span class="settings-headline" style="color: #444"><span class="mdi mdi-account-outline"> </span>Users</span><br><br>
    YOU
    <div class="online-user">
        <img class="online-user-avatar" src="/resources/graphics/avatars/azuma-3.svg"> <span id="user-online-you-name"></span>
    </div><br>

    ONLINE | 2
    <div id="online-users">

    </div>
    <div class="foot-centered">
        Azuma v0.0.1a
    </div>
</div>

<div class="channellist hidden" id="settings">
    <span class="settings-headline" style="color: #333"><span class="mdi mdi-settings-outline"> </span>Settings</span>
    <div class="settings-category" onclick="settings('account')" id="settings-account">Account<span class="mdi mdi-chevron-right settings-chevron"></span></div>
    <div class="settings-category" onclick="settings('appearance')" id="settings-appearance">Appearance<span class="mdi mdi-chevron-right settings-chevron"></span></div>
    <div class="settings-category" onclick="settings('sound')" id="settings-sound">Sound<span class="mdi mdi-chevron-right settings-chevron"></span></div>
    <div class="settings-category" onclick="settings('info')" id="settings-info">Info<span class="mdi mdi-chevron-right settings-chevron"></span></div>
    <a href="/logout"><div class="settings-category">Logout<span class="mdi mdi-account-arrow-right-outline settings-chevron"></span></div></a>
    <div class="foot-centered">
        Azuma v0.0.1a
    </div>
</div>

<!--Settings popouts-->

<div class="settings-popout" id="settings-account-popout">
    <div class="form-header big color-title">
        <span class="settings-headline"><span class="mdi mdi-account-outline"> </span>Account</span>
    </div><br><br><br><br>
    <div class="account-head">
        <img class="account-head-avatar" src="/resources/graphics/avatars/azuma-3.svg">
        <span class="account-head-name"><span class="mdi mdi-check-decagram"></span> admin</span><br>
        <button class="button">Change avatar</button>
        <select class="button">
            <option>Online</option>
            <option>Away</option>
            <option>Do not disturb</option>
            <option>Offline (Hidden)</option>
        </select>
    </div>
</div>

<div class="settings-popout" id="settings-appearance-popout">
    <div class="form-header big color-red">
        <span class="settings-headline"><span class="mdi mdi-palette-outline"> </span>Appearance</span>
    </div><br><br><br><br>

    <!--What? I should use flexbox? Yeah, I should, but who cares? :tramp:-->
    <table style="width: 100%;table-layout: fixed ;">
        <tr>
            <td>

                Choose a theme<br>
                <select class="button" id="theme-switcher">
                    <option value="default" selected>Default</option>
                    <option value="dark">Dark</option>
                    <option value="custom" disabled>Custom...</option>
                </select>

            </td>
            <td>

                Font<br>
                <select class="button" value="Hind" id="font-switcher">
                    <option value="Abel" style="font-family: Abel">Abel</option>
                    <option value="Archivo Narrow" style="font-family: Archivo Narrow">Archivo Narrow</option>
                    <option value="Hind" selected style="font-family: Hind">Hind</option>
                    <option value="Rajdhani" style="font-family: Rajdhani">Rajdhani</option>
                </select>

            </td>
        </tr>
    </table>
    <!--Yeah, it's simple. But works. xd-->
    <button class="button" onclick="$(document.body).toggleClass('invert')">Invert colors</button><br><br>
</div>

<div class="settings-popout" id="settings-sound-popout">
    <div class="form-header big color-green">
        <span class="settings-headline"><span class="mdi mdi-speaker"> </span>Sound</span>
    </div><br><br><br><br>
    <span style="color: #bbb">Problems with surround sound audio systems are known. We're working on a fix.</span><br>
    <button class="button" style="padding-left: 10px" onclick="new Audio('/resources/audio/message.mp3').play();"><span class="mdi mdi-volume-high"></span> Incoming message</button><br>
    <button class="button" style="padding-left: 10px" onclick="new Audio('/resources/audio/message_short.mp3').play();"><span class="mdi mdi-volume-high"></span> Short incoming message</button><br>
    <button class="button" style="padding-left: 10px" onclick="new Audio('/resources/audio/friend_request.mp3').play();"><span class="mdi mdi-volume-high"></span> New Friend request</button><br>
</div>

<div class="settings-popout" id="settings-info-popout">
    <div class="form-header big color-blue">
        <span class="settings-headline"><span class="mdi mdi-information-outline"> </span>Info</span>
    </div><br><br><br><br>
    Azuma is being developed by shinixsensei and RMC Productions.<br><br>
    You're using an alpha version which is in active development. Be aware of bugs and errors.<br>
    If you find any bugs, we'd appreciate if you opened an issue on GitHub.<br><br>
    The Notification sounds are licensed under a CC-Attribution License. Find the sounds here:<br>
    <a href="https://notificationsounds.com/notification-sounds/job-done-501">New message sound</a><br>
    <a href="https://notificationsounds.com/notification-sounds/suppressed-437">Short new message sound</a><br>
    <a href="https://notificationsounds.com/message-tones/youve-been-informed-345">New Friend request</a><br><br>

    <span class="settings-headline"><span class="mdi mdi-information-outline"> </span>Changelog</span> last 5 entries
    <section id="changelog"></section>

    <div class="form-footer">
        <a href="https://github.com/rmcproductions/Azuma">
            <button class="button form-input">View on GitHub</button>
        </a>
        <a href="https://github.com/rmcproductions/Azuma/issues/new">
            <button class="button form-input">Report a bug</button>
        </a>
    </div>
</div>



<div class="chat-messages">
    <div class="scroll-container" id="scroller">
        <div class="messages-container" id="messages-container">
            <!--Messages are appended here-->
        </div>
    </div>
    <div class="input h">
        <input placeholder="Write a message..." id="message" class="input messagebox">
        <span class="mdi mdi-send send-icon color-blue" id="send"></span>
    </div>
</div>

<div id="disconnection-warning">
    <span class="mdi mdi-close-network-outline"></span>You have been disconnected from the chat. Please be patient.
</div>



<script>

    

     if(!window.localStorage.getItem('token')){
        create_alert('You need to sign in with an account.', 'You will now be redirected to the login page.', 'alert')
        setTimeout(() => window.location.replace("/login"), 4000);
    }

    api.request('changelog', ch => {
        ch.forEach((log, i) => {
            if(!(i >=5)){
                $('#changelog').append(document.createTextNode(log[0]));
                $('#changelog').append(document.createElement('br'));
                $('#changelog').append(document.createTextNode(log[1]));
            }
        })
    });

    let who_am_i = 'nobody';
    api.request('user/token/' + window.localStorage.getItem('token'), d => {
        let data = JSON.parse(d);
        if(!data.success){
            create_alert('You provided an invalid token.', 'You will now be redirected to the login page.', 'alert')
            setTimeout(() => window.location.replace("/login"), 4000);
        }
        else{
            $('.header-information').append(document.createTextNode(data.data.name));
            $('#user-online-you-name').append(document.createTextNode(data.data.name));
            who_am_i = data.data;

            api.request('room/users', userArray => {
                let result = JSON.parse(userArray);

                result.data.forEach(acc => {
                    if(acc.status != 'online') return;
                    let userList = document.createElement('div');
                    userList.classList = 'online-user';
                    userList.id = 'online-user-' + acc.id;

                    let avatar = document.createElement('img');
                    avatar.src = '/resources/graphics/avatars/azuma-3.svg';
                    avatar.classList = 'online-user-avatar';

                    userList.append(avatar);
                    userList.append(document.createTextNode(acc.name));

                    $('#online-users').append(userList);
                });
            });
            

            let channel_dir = new Map();
            api.request('room/channels', c => {
                let data = JSON.parse(c);
                if(!data.success){
                    create_alert('Channel list couldn\'t be fetched.', 'Please try reloading the page. ' + data.message, 'alert')
                }
                else{
                    console.log(data)
                }
            });
        }
    });



    // TODO
    // Focus input on unfocused typing

    let send_message = () => {
        // Send message to socket
        socket.emit('message', {
            content: $('#message').val(),
            channel: chat_channel
        });
        $('#message').val('');
    };

    $('#message').on('keypress', e => {
        if(e.which == 13){
            send_message();
        }
    })

    $('#send').on('click', e => {
        send_message();
    })

    $('#theme-switcher').on('change', e => {
            document.getElementById('css-theme').href = `/css/themes/${ $('#theme-switcher').val() }.css`
    })

    $('#font-switcher').on('change', e => {
        $('body, html, button, input, textarea, select').css('font-family', $('#font-switcher').val());
    })

    $('.message').on('mousedown', e => {
        if(e.which == 3){
            // TODO: Show context menu
        }
    });

    $('.chat-messages').on('click', e => {
        $('.chat-messages').removeClass('darken');
        $('#settings').addClass('hidden');
        $('.settings-popout').removeClass('unhide');
        $('.settings-category').removeClass('sel');
    });

    $('.settings-icon').on('click', e => {
        $('#online').addClass('hidden');
        $('.chat-messages').removeClass('darken');
        $('#settings').toggleClass('hidden');
        $('.settings-popout').removeClass('unhide');
        $('.settings-category').removeClass('sel');
    });

    function settings(name){
        $('.chat-messages').addClass('darken');
        $('.settings-popout').removeClass('unhide');
        $('#settings-' + name + '-popout').addClass('unhide');

        $('.settings-category').removeClass('sel');
        $('#settings-' + name).addClass('sel');
    }

    

    $('.online-icon').on('click', e => {
        $('.chat-messages').removeClass('darken');
        $('.settings-popout').removeClass('unhide');
        $('#settings').addClass('hidden');
        $('#online').toggleClass('hidden');
    });

    function channel(channel){
        chat_channel = channel;
        $('.channel').removeClass('active');
        $('#channel-' + channel).addClass('active');
    }
</script>