<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="js/REST.js"></script>


<div class="form-body" id="form-login">
    <center>
        <div class="form-header big color-title">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-big">
        </div>
        <br><br><br><br>
        Create a new Account<br><br>
        <input class="button form-input" placeholder="Username" id="name"><br>
        <button class="button form-input" id="input">Let's do this!</button><br><br>
        <span style="font-size:13px">Or <a id="login" style="color:blue;cursor:pointer;text-decoration:underline">login with an existing account?</a></span>
    </center>
</div>

<div class="form-body hidden" id="form-logon">
    <center>
        <div class="form-header big color-title">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-big">
        </div>
        <br><br><br><br>
        Login to account<br>
        <span style="color: #bbb">Active sessions will be logged out.</span><br><br>
        <input class="button form-input" placeholder="Token" id="logon-token" type="password"><br>
        <button class="button form-input" id="btn-logon">LET ME IIIIIN!</button><br><br>
        <span style="font-size:13px">Or <a id="logon" style="color:blue;cursor:pointer;text-decoration:underline">create a new account?</a></span>
    </center>
</div>

<div class="form-body hidden" id="form-success">
    <center>
        <div class="form-header color-green">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-small">
        </div>
        <br><br><br>
        <span style="color: green">The action was successful.</span><br>
        You can now start chatting.<br><br>
        Your authorization token is <span class="code_block" id="login_token"></span> - <span style="color:red; font-weight: bold">DO NOT GIVE THIS TOKEN TO ANYONE.</span> It functions like a username+password for your account.<br><br>
        You will need this to re-login to your account from another client.<br>
        <span style="font-size:13px"><a id="tokens" style="color:blue;cursor:pointer;text-decoration:underline">More info about tokens...</a></span><br><br>
        <a href="/chat">
            <button class="button form-input">Take me to the chatroom!</button>
        </a>
    </center>
</div>

<div class="form-body hidden" id="form-tokens">
    <center>
        <div class="form-header color-blue">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-small">
        </div>
        <br><br><br>
        Your authorization token is like a username+password for your account. Everyone with this token will be able to access your account and the information saved along with it.<br><br>
        After the successful creation of an account or login, the token will be stored locally within your browser cache. If you access the site, even after you restarted your device, it will automatically re-login you into your account.<br>
        When you logout from your account, this token will be deleted.<br><br>
        <del>If you leaked your token by accident, make sure to go to "Your Account" settings and click "Lock Account". This way, no login to your account will be possible.</del><br>
        After that, you can talk to the developers so we can re-generate your token and unlock your account.
        <span style="font-size:13px"><a id="back" style="color:blue;cursor:pointer;text-decoration:underline">Back</a></span><br><br>
        <a href="/chat">
            <button class="button form-input">Take me to the chatroom!</button>
        </a>
    </center>
</div>

<div class="form-body hidden" id="form-error">
    <center>
        <div class="form-header">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-small">
        </div>
        <br><br><br>
        <span style="color: red" id="error">Error: An unknown error occured.</span><br>
        Please try again later. If you're still having issues, contact the developers.<br><br>
        <button class="button form-input" id="try-again">Let me try again!</button>
    </center>
</div>

<div class="footer">
    Azuma v0.0.1a
    <span id="information-text" class="footer-right">
        Ready
    </span>
</div>
<script>
    $(() => {

        
        $('#try-again').on('click', e => {
            $('#input').text('Let\'s do this!');
            $('#btn-logon').text('LET ME IIIIIN!');
            $('.form-input').css('animation', 'none');

            showPanel('error', 'login');
        });

    let showPanel = (old, now) => {
        $('#form-' + old).css('transform', 'rotateY(180deg)');
        $('#form-' + old).css('opacity', '0');
        $('#form-' + now).css('transform', 'rotateY(0deg)');
        $('#form-' + now).css('opacity', '1');
        $('#form-' + now).removeClass('hidden');
        setTimeout(() => $('#form-' + old).addClass('hidden'), 290);
    };

    $('#login').on('click', e => {
        showPanel('login', 'logon');
    });

    $('#logon').on('click', e => {
        showPanel('logon', 'login');
    });

    $('#tokens').on('click', e => {
        showPanel('success', 'tokens');
    });

    $('#back').on('click', e => {
        showPanel('tokens', 'success');
    });

    $('#btn-logon').on('click', e => {
        e.target.innerHTML='Working on it...';
        e.target.style.animation = 'bgLoading 1s linear infinite';

        api.request('user/token/' + $('#logon-token').val(), d => {
            let data = JSON.parse(d);
            if(!data.success){
                $('#error').text('Error: ' + data.message);
                showPanel('logon', 'error');
            }
            else{
                $('#login_token').text(data.data.token);
                window.localStorage.setItem('token', data.data.token);
                showPanel('logon', 'success');
            }
        });
    })

    // Screw jQuery
    document.getElementById('input').addEventListener('click', e => {
        e.target.innerHTML='Working on it...';
        e.target.style.animation = 'bgLoading 1s linear infinite';

        try{
            let request = new XMLHttpRequest();
            request.open('GET', `/api/create_user/${ $('#name').val() }`);

            request.onload = () => {
                let data = JSON.parse(request.response);
                if(!data.success){
                    $('#error').text('Error: ' + data.error);
                    showPanel('login', 'error');
                }
                else{
                    $('#login_token').text(data.token);
                    window.localStorage.setItem('token', data.token);
                    showPanel('login', 'success');
                }
            };
            request.onerror = err => {
                e.target.innerHTML='Let\'s do this!';
                e.target.style.animation = 'none';
                $('.form-body').append('Something went wrong. Please try again.');
            };
            request.send();
        }
        catch (err){
            e.target.innerHTML='Let\'s do this!';
            e.target.style.animation = 'none';
            $('.form-body').append('Something went wrong. Please try again.');
        }

        $('#try-again').on('click', e => {
            $('#input').text('Let\'s do this!');
            $('#btn-logon').text('LET ME IIIIIN!');
            $('.form-input').css('animation', 'none');

            showPanel('error', 'login');
        });

    });

    });
    
</script>