<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/home.css" />


<center>
    <img src="resources/graphics/Azuma-Logo-gradient.svg">
    <br><br>
    You have been logged out.
</center>

<div class="footer">
    Azuma v0.0.1a
    <span id="information-text" class="footer-right">
        Ready
    </span>
</div>