<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/home.css" />

<script>
    window.localStorage.removeItem('token');
</script>

<center>
    <img src="resources/graphics/Azuma-Logo-gradient.svg">
    <br><br>
    You have been logged out.<br>
    <span style="font-size:13px"><a href="/" style="color:blue;cursor:pointer;text-decoration:underline">Back to the homepage</a></span>
</center>

<div class="footer">
    Azuma v0.0.1a
    <span id="information-text" class="footer-right">
        Ready
    </span>
</div>