<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/home.css" />


<div class="form-body" id="form-login">
    <center>
        <div class="form-header big color-title">
            <img src="resources/graphics/Azuma-Logo-white.svg" class="form-logo-big">
        </div>
        <br><br><br><br>
        Create a new Account<br><br>
        <a href="/chat">
            <button class="button">Join the chatroom</button>
        </a><br><br>
        <a href="/chat">
            <button class="button">Sign Up or Log in</button>
        </a>
    </center>
</div>

<div class="footer">
    Azuma v0.0.1a
    <span id="information-text" class="footer-right">
        Ready
    </span>
</div>