<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Tags generated with metatags.io -->
            <!-- Primary Meta Tags -->
            <title>Azuma - A public chatroom.</title>
            <meta name="title" content="Azuma - A public chatroom.">
            <meta name="description" content="Azuma is an open-source chat room for everyone. ">

            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="http://azuma.rmcprod.me/">
            <meta property="og:title" content="Azuma - A public chatroom.">
            <meta property="og:description" content="Azuma is an open-source chat room for everyone. ">
            <meta property="og:image" content="http://azuma.rmcprod.me/resources/graphics/avatars/azuma-3.svg">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="http://azuma.rmcprod.me/">
            <meta property="twitter:title" content="Azuma - A public chatroom.">
            <meta property="twitter:description" content="Azuma is an open-source chat room for everyone. ">
            <meta property="twitter:image" content="http://azuma.rmcprod.me/resources/graphics/avatars/azuma-3.svg">


        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        
        {{{ body }}}

    </body>
</html>