.branding-color{
    width: calc(25% - 40px);
    margin: 10px;
    height: 160px;
    float: left;
    border-radius: 15px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.3);
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    color:white;
}

.branding-color-line{
    font-size: 15px;
    color: rgba(255,255,255,.4);
    line-height: 18px;
}


.branding-logo{
    width: calc(33% - 85px);
    background: #333;
    border-radius: 15px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.3);
    padding: 20px;
    margin: 10px;
}


.branding-font{
    width: 40%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.3);
    padding: 20px;
    font-size: 27px;
}