body{background: black; perspective: 700px;overflow:hidden;}

.input{
    position: absolute;
    bottom: 20px;
    width:calc(96% - 26px);
    height:40px;
    left:3%;
    padding:8px;
    padding-left:13px;
    padding-right:0;
    border-radius:10px;
    overflow:hidden;
    font-size:17px;
    color: #222;
    transition: .3s ease;
    z-index:100;
    background: transparent;
}




.input.h:hover{
    cursor: pointer; 
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}
.input.h:focus{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.3);
}

.input.messagebox{
    width: calc(100% - 56px);
    position: static;
    float:left;
}
.send-icon{
    width:56px;
    height:56px;
    margin-top:-8px;
    font-size:27px;
    text-align: center;
    line-height:56px;
    float:right;
    color:white;
}


.header{
    position: fixed;
    width: calc(15% + 0px);
    height:calc(10% - 40px);
    background: white;
    z-index:110;
    color: #333;
    padding: 20px;
    left:0;
    top:0;
}
.header-information{
    float:left;
}
.settings-icon, .online-icon{
    color: #888;
    font-size: 25px;
    padding:7px;
    border-radius:5px;
    transition: .2s ease;
    float:right;
    margin-left:5px;
}
.settings-icon:hover, .online-icon:hover{
    cursor: pointer;
    background: #f0f0f0;
}

#online{
    color: #aaa;
}
.online-user{
    width:calc(100% - 20px);
    height:30px;
    border-radius: 5px;
    transition:.2s ease;
    padding:10px;
    line-height: 32px;
    font-size: 22px;
    overflow: hidden;
    color: #555;
    margin-bottom: 5px;
}
.online-user:hover{
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    cursor:pointer;
}
.online-user-avatar{
    width: 30px; height: 30px;
    float:left;
    margin-right: 10px;
}


.channellist{
    position: fixed;
    height: calc(91% - 20px);
    width: 15%;
    top:9%;
    left:0;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    z-index:115;
    overflow-y:scroll;
    background: white;
    /*transition: .4s cubic-bezier(0, 1, .5, 1);*/
    transition: .4s ease;

    transform-origin: 0px 50%;
    transform: rotateY(0deg);
}
.channellist.hidden{
    /*left:calc(-17% - 40px);*/
    transform: rotateY(-90deg);
    /*transition: .4s cubic-bezier(1, 0, 1, .5);*/
}
.channellist::-webkit-scrollbar{
    display: none;
}
.channel{
    padding:5px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .2s ease;
    background: white;
    border-radius: 7px;
    font-size: 20px;
    color:#666;
    overflow:hidden;
    width: calc(100% - 40px);
}
.channel:hover{
    box-shadow: 0px 4px 7px rgba(0,0,0,0.1);
    cursor:pointer;
}
.channel.active{
    background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB) !important;
    color:white;
    box-shadow: 2px 4px 7px rgba(0,0,0,0.1);
}
#settings{
    overflow: visible;
}
.foot-centered{
    text-align: center;
    width:100%;
    color: #aaa;
}
.settings-category{
    width: calc(100% + 20px);
    height:30px;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 0px;
    margin-left: -20px;
    transition: .1s ease;
    color: #222;
}
.settings-category:hover{
    background: #eee;
    cursor:pointer;
}
.settings-chevron{
    width:20px;
    height:20px;
    padding:15px;
    font-size:20px;
    float:right;
    margin-top: -10px;
    color: inherit;
}
.account-head{
    width: 100%;
    height:110px;
    padding-top:10px;
    padding-bottom:10px;
}
.account-head-avatar{
    width:130px;
    height:130px;
    border-radius: 1000px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    float: left;
    margin-right: 20px;
    margin-top:-10px;
}
.account-head-name{
    font-size: 35px;
}


.chat-messages{
    position: fixed;
    height: 100%;
    width: calc(85% - 60px);
    top:0;
    right:0;
    padding-left:10px;
    padding-right:10px;
    border-right: 1px solid #eee;
    z-index:83;
    background: white;
    transition: .3s ease;
}
.chat-messages.darken{
    opacity: .5
}
.scroll-container{
    position: fixed;
    height: calc(100% - 80px);
    width: calc(85% - 60px);
    top:0;
    right:0;
    overflow-y:scroll;
}
.messages-container{
    bottom:8%;
    right:0;
    height:auto;
    width: calc(85% - 60px);
    position: relative;
    bottom:0;
}

.message{
    padding:3px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s ease;
    background: transparent;
    border-radius: 10px;
    font-size: 20px;
    margin:8px;
    line-height:27px;
    animation: slideInLeft .2s ease;
}
@keyframes slideInLeft{
    0%{transform:translateX(-10px); opacity: 0;}
    100%{transform:translateX(0); opacity: 1;}
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.message:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0, 0.05);
}

.message-information{
    width:100%;
    margin-bottom: -10px;
}
.message-author{
    color:red;
    font-weight: bold;
    font-size:17px;
}
.message-time{
    color:#ddd;
    font-size:13px;
}
.message-content{
    color:#222;
    width:auto;
    animation: fadeIn .2s ease;
}



.settings-popout{
    position: fixed;
    height: calc(70% - 120px);
    width: 30%;
    top:-100%;
    transform: scale(.5) rotateX(80deg);
    opacity: 0;
    transform-origin: 50% 0px;
    left:35%;
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 15px;
    z-index:85;
    overflow-y:auto;
    background: white;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    transition: .8s cubic-bezier(.5, 0, 0, 1);
}
.settings-popout.unhide{
    opacity: 1;
    top:15%;
    transform: scale(1) rotateX(0deg);
}
.settings-headline{
    font-size:40px;
}


#disconnection-warning{
    position: fixed;
    width:100%;
    height:25px;
    line-height: 25px;
    color:white;
    background:red;
    padding:0;
    text-align: center;
    top: -30px;
    left: 0;
    z-index: 150;
    transition: .2s ease;
}
#disconnection-warning.unhide{
    top:0;
}

.alert{
    z-index: 300;
    position: fixed; 
    width:30%;
    top: 15px;
    left: 35%;
    min-height: 60px;
    max-height: 260px;
    background: rgba(0,0,0,.6);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    animation: plop .3s cubic-bezier(0, 1.5, 0.85, 1);
    overflow: hidden;
    border-radius: 15px;
    color:white;
    padding-top:10px;
    padding-left:90px;
    font-size: 19px;
    line-height: 27px;
}
.alert-icon{
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: auto;
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    /*animation: attention .3s ease .3s;*/
}
.alert-title{
    width: 100%;
    font-weight: bold;
}
.alert-left{
    height:100%;
    width: 80px;
    text-align: center;
    position: absolute;
    padding-top:10px;
    top: 0;
    left: 0;
}
.alert-timer{
    position: absolute;
    width:0;
    height: 3px;
    background: rgba(255, 255, 255, 0.8);
    left:0;
    bottom: 0;
    animation: alertTimer 4s linear;
}
.scroller{
    width: calc(100% - 91px);
}

@keyframes plop{
    0%{top: -100px;transform: scale(1.05)}
    100%{top: 15px;transform: scale(1)}
}
@keyframes plopOut{
    100%{top: -100px;}
    0%{top: 15px;}
}
@keyframes alertTimer{
    0%{width:100%;}
    100%{width: 0;}
}
@keyframes attention{
    0%{font-size: 40px}
    50%{font-size: 45px}
    100%{font-size: 40px}
}


.profile-card{
    width:15%;
    height:50%;
    position: fixed;
    left: 42.5%;
    top:20%;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0,0,0,.2); 
    z-index: 9999;
    padding: 20px;
    overflow: hidden;
    background: white;
    font-size: 20px;
    padding-bottom: 0;
    padding-top: 0;
    animation: FlyIn .5s ease;
}
.profile-card-head{
    width:100%;
    margin-left: -20px;
    height:170px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.profile-card-head-avatar{
    border-radius: 1000px;
    width: 130px;
    height: 130px;
    box-shadow: 0px 7px 8px rgba(0,0,0,.1); 
    margin-bottom: 10px;
}
.profile-card-username{
    width: 100%;
    font-size: 25px;
}
.profile-card-data{
    overflow:auto; 
    height: calc(100% - 190px - 150px);
    width: calc(100% + 15px);
}
.form-footer.profilecard{
    position: absolute;
    bottom: 0;
    left:20px;
    width: calc(100% - 40px);
}


.small-headline{
    width: 100%;
    margin-bottom: -7px;
    margin-top: 7px;
    color: #bbb;
    font-size: 13px;
    text-transform: uppercase;
}

@keyframes FlyIn{
    0%{
        opacity: 0;
        top:-100%;
        transform: scale(.5) rotateX(90deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotateX(0deg);
    }
}