.input{
    position: absolute;
    bottom: 20px;
    width:calc(96% - 26px);
    height:40px;
    left:3%;
    padding:8px;
    padding-left:13px;
    padding-right:0;
    border-radius:10px;
    overflow:hidden;
    font-size:17px;
    color: #222;
    transition: .3s ease;
    z-index:100;
    background: white;
}




.input.h:hover{
    cursor: pointer; 
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.input.h:focus{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.input.messagebox{
    width: calc(100% - 56px);
    position: static;
    float:left;
}
.send-icon{
    width:56px;
    height:56px;
    margin-top:-8px;
    font-size:27px;
    text-align: center;
    line-height:56px;
    float:right;
    color:white;
}


.header{
    position: fixed;
    width: calc(15% + 0px);
    height:6%;
    top:3%;
    background: white;
    z-index:110;
    color: #333;
    padding-right: 20px;
    left:20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.header-information{
    float:left;
}
.settings-icon{
    color: #888;
    font-size: 25px;
    padding:7px;
    border-radius:5px;
    transition: .2s ease;
    float:right;
}
.settings-icon:hover{
    cursor: pointer;
    background: #f0f0f0;
}



.channellist{
    position: fixed;
    height: calc(88% - 20px);
    width: 15%;
    top:9%;
    left:0;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    border-right: 1px solid #eee;
    z-index:90;
    overflow-y:scroll;
    background: white;
    transition: .4s cubic-bezier(0, 1, .5, 1);
}
.channellist.hidden{
    left:calc(-17% - 40px);
    transition: .4s cubic-bezier(1, 0, 1, .5);
}
.channellist::-webkit-scrollbar{
    display: none;
}
.channel{
    padding:5px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .2s ease;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color:#666;
    overflow:hidden;
}
.channel:hover{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    cursor:pointer;
}
#settings{
    overflow: visible;
}
.settings-category{
    width:100%;
    height:30px;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 0px;
    transition: .1s ease;
    color: #222;
}
.settings-category:hover{
    background: #eee;
    cursor:pointer;
}
.settings-chevron{
    width:20px;
    height:20px;
    padding:15px;
    font-size:20px;
    float:right;
    margin-top: -10px;
    color: #222
}

.chat-messages{
    position: fixed;
    height: 100%;
    width: calc(85% - 60px);
    top:0;
    right:0;
    padding-left:10px;
    padding-right:10px;
    border-right: 1px solid #eee;
    z-index:83;
}
.scroll-container::-webkit-scrollbar{
    display: none;
}
.scroll-container{
    position: fixed;
    height: calc(100% - 80px);
    width: calc(85% - 60px);
    top:0;
    right:0;
    overflow-y:scroll;
}
.messages-container{
    bottom:8%;
    right:0;
    height:auto;
    width: calc(85% - 60px);
    position: relative;
    bottom:0;
}

.message{
    padding:3px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s ease;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    margin:8px;
    line-height:27px;
}
.message:hover{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.message-information{
    width:100%;
    margin-bottom: -10px;
}
.message-author{
    color:red;
    font-weight: bold;
    font-size:17px;
}
.message-time{
    color:#ddd;
    font-size:13px;
}
.message-content{
    color:#222;
    width:auto;
}



.settings-popout{
    position: fixed;
    height: 100%;
    width: 30%;
    top:0%;
    left:calc(-35% - 41px);
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    z-index:85;
    overflow-y:scroll;
    background: white;
    transition: .3s ease;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.1);
    transition: .4s cubic-bezier(0, 1, .5, 1);
}
.settings-popout.unhide{
    left:calc(15% + 41px);
}
.settings-popout::-webkit-scrollbar{
    display:none;
}
.settings-headline{
    font-size:30px;
}


#disconnection-warning{
    position: fixed;
    width:100%;
    height:25px;
    line-height: 25px;
    color:white;
    background:red;
    padding:0;
    text-align: center;
    top: -30px;
    left: 0;
    z-index: 150;
    transition: .2s ease;
}
#disconnection-warning.unhide{
    top:0;
}

.alert{
    z-index: 300;
    position: fixed; 
    width:30%;
    top: 15px;
    left: 35%;
    height: 60px;
    background: rgba(0,0,0,.6);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    animation: plop .3s cubic-bezier(0, 1.5, 0.85, 1);
    overflow: hidden;
    border-radius: 15px;
    color:white;
    padding-top:10px;
    font-size: 19px;
    line-height: 27px;
}
.alert-icon{
    font-size: 40px;
    line-height: 70px;
    animation: attention .3s ease;
    animation-delay: 1s;
}
.alert-title{
    width: 100%;
    font-weight: bold;
}
.alert-left{
    height:calc(100% + 10px);
    width: 80px;
    margin-top: -10px;
    float:left;
    margin-right: 10px;
    text-align: center;
}
.alert-timer{
    position: absolute;
    width:0;
    height: 3px;
    background: rgba(255, 255, 255, 0.8);
    left:0;
    bottom: 0;
    animation: alertTimer 4s linear;
}
.scroller{
    width: calc(100% - 91px);
}

@keyframes plop{
    0%{top: -100px;}
    100%{top: 15px;}
}
@keyframes plopOut{
    100%{top: -100px;}
    0%{top: 15px;}
}
@keyframes alertTimer{
    0%{width:100%;}
    100%{width: 0;}
}
@keyframes attention{
    0%{transform: scale(1)}
    50%{transform: scale(1.2)}
    100%{transform: scale(1)}
}