body, html{
    text-align: center;
    perspective:500px;
    overflow:hidden;
}

.form-body{
    margin-top: 150px;
    padding:20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    width:20%;
    position: absolute;
    left: 40%;
    border-radius: 10px;
    transition: .3s ease;
    animation: flipIn .3s ease;
    line-height: 25px;
    max-height:70%;
    overflow-y: scroll;
    background: white;
}
.form-body::-webkit-scrollbar{
    display:none;
}
.form-body.hidden{
    opacity: 0;
    transform: rotateY(-180deg);
    display: none;
}


.form-logo{
    width:100%;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4))
}
.form-logo-small{
    height:40px;
    margin-top:15px;
}
.form-logo-big{
    height:50px;
    margin-top:25px;
}
.loading-dot{
    width:28px;
    height:28px;
    border:2px solid transparent;
    border-top-color:gray;
    animation: spin .6s linear infinite;
    border-radius: 1000px;
}

@keyframes bgLoading{
    0%  {
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0), rgba(0,0,0,0)) no-repeat;
        background-size: 200% 100%;
        background-position: 250% 0;
    }
    100%{
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0), rgba(0,0,0,0)) no-repeat;
        background-size: 200% 100%;
        background-position: -50% 0;
    }
}
@keyframes flipIn{
    0%{transform: rotateY(-180deg); opacity: 0}
    100%{transform: rotateY(0deg); opacity: 1}
}