@import url('https://fonts.googleapis.com/css?family=Abel|Roboto|Titillium Web|Archivo+Narrow|Hind|Rajdhani');

:root{
    --accent: #008fff;
}

body, html, button, input, textarea, select{
    color: #222222;
    font-family: "Titillium Web", Hind, Helvetica, Arial, sans-serif;
    border:none; 
    background: none;
    margin: 0; border:0; padding: 0;
    transition: .3s ease;
}

body, html{
    background: white;
}

a{
    text-decoration: none;
}
a:visited{
    color: blue;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
button:focus, input:focus, select:focus{
    outline: none;
}
.form-input{
    margin-top:10px;
    width:100%;
    text-align: center;
}
.form-input.disabled{
    color: #aaa;
    cursor: not-allowed !important;
}
.form-header{
    background: linear-gradient(to right, red, #ff0066);
    position: absolute; 
    width: 100%;
    height: 70px;
    line-height: 70px;
    top:0; 
    left: 0;
    color:white;
    text-align: center;
}
.form-header.big{
    height: 100px;
    line-height: 100px;
}
.form-header.inline{
    width: calc(100% + 40px);
    margin-left: -20px;
    position: static;
}
.form-footer{
    width: 100%;
    height: auto;
    position: static;
    padding-bottom: 20px;
}

.button{
    padding:3px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .2s ease;
    background: white;
    border-radius: 7px;
    font-size: 20px;
    color:#222;
    margin-top:10px;
}
.button:hover{
    cursor: pointer; 
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.button:active{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}


.code_block{
    font-family: monospace;
    border-radius: 3px;
    background: rgba(0,0,0,.07);
    padding: 3px;
}



.color-title{
    background: linear-gradient(to right, #3494e6, #ec6ead) !important;
    color:white !important;
}
.color-red{
    background: linear-gradient(to right, #ff2600, #db0054) !important;
    color:white !important;
}
.color-green{
    background: linear-gradient(to right, #11998e, #38ef7d) !important;
    color:white !important;
}
.color-blue{
    background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB) !important;
    color:white !important;
}


::-webkit-scrollbar{
    width: 20px;
    position: fixed;
}
::-webkit-scrollbar-track{
    border: solid 7px transparent;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);
    border: solid 7px transparent;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:active{
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.4);
}





.footer{
    position: fixed;
    width:calc(100% - 10px);
    padding-left: 10px;
    height:25px;
    bottom: 0;
    left: 0;
    text-align: left;
}
.footer-right{
    right:10px;
    text-align: right;
    height:25px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.spinner{
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-top-color:black;
    border-radius: 3000px;
    animation: spin 0.7s linear infinite;
}
@keyframes spin{
    0%  { transform: rotate( 0deg ) }
    100%{ transform: rotate( 360deg )}
}

.invert{
    filter: invert(1);
}