@import url('https://fonts.googleapis.com/css?family=Hind');

:root{
    --accent: #008fff;
}

body, html, button, input, textarea{
    color: #222222;
    font-family: Hind, Helvetica, Arial, sans-serif;
    border:none; 
    background: none;
    margin: 0; border:0; padding: 0;
    transition: .3s ease;
}

body, html{
    background: white;
}

a{
    text-decoration: none;
}

button:focus, input:focus{
    outline: none;
}

.button{
    padding:3px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s ease;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color:#222;
}
.button:hover{
    cursor: pointer; 
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.button:active{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
img{
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4))
}














.footer{
    position: fixed;
    width:calc(100% - 10px);
    padding-left: 10px;
    height:25px;
    bottom: 0;
    left: 0;
    text-align: left;
}
.footer-right{
    right:10px;
    text-align: right;
    height:25px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.spinner{
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-top-color:black;
    border-radius: 3000px;
    animation: spin 0.7s linear infinite;
}
@keyframes spin{
    0%  { transform: rotate( 0deg ) }
    100%{ transform: rotate( 360deg )}
}

.invert{
    filter: invert(1);
}